<div>
  <h4>Licenses Expiring Within 90 Days</h4>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Facility</th>
        <th>License Type</th>
        <th>License Number</th>
        <th>Expiry Date</th>
        <th>Days Remaining</th>
        <th>Renewal Stage</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="lic in licenses"
          ng-style="{'background-color': lic.row_color}"
          ng-click="openLicense(lic.sys_id)"
          style="cursor:pointer;">
        <td ng-bind="lic.facility"></td>
        <td ng-bind="lic.license_type"></td>
        <td ng-bind="lic.license_number"></td>
        <td ng-bind="lic.expiry_date"></td>
        <td ng-bind="lic.days_before_expiry"></td>
        <td ng-bind="lic.renewal_stage"></td>
      </tr>
      <tr ng-if="licenses.length === 0">
        <td colspan="6" class="text-center text-muted">No licenses expiring within 90 days.</td>
      </tr>
    </tbody>
  </table>
</div>
